{% load static %}
{% load fontawesome_5 %}
 
<!DOCTYPE html>
<html>
    <head>
<title>Pocketdoc</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'w3.css' %}" rel="stylesheet" />

{% fontawesome_5_static %}
</head>
<body>

  <div class="w3-bar w3-black w3-padding-24" style="font-size:20px;">
    <a href="{% url 'home' %}" class="w3-bar-item w3-button" >Home</a>
    <a href="{% url 'diabetes' %}" class="w3-bar-item w3-button" >Diabetes</a>
    <a href="{% url 'heart' %}" class="w3-bar-item w3-button">Heart</a>
    <a href="{% url 'liver' %}" class="w3-bar-item w3-button">Liver Disease</a>
    <a href="{% url 'kidney' %}" class="w3-bar-item w3-button">Kidney Disease</a>
    <a href="" class="w3-bar-item w3-button">Brain Tumor</a>

    
  
</div>

<br><br>


<div class="w3-container w3-card-4 w3-grey" style="width:50%;margin:auto;">
    <form  action="predict2">
      <div class="form-group">

        <label for="Pregnancies">No. of Pregnencies</label>
        <input class="form-control" type="number" id="Pregnancies" name="Pregnancies" required="required" placeholder="No. of Pregnencies">
      </div>
      <div class="form-group">
        <label for="Glucose">Glucose Level</label>
        <input class="form-control" type="number" step="any" id="Glucose" name="Present_Price" required="required" placeholder="Glucose Level">
      </div>
      <div class="form-group">
        <label for="BloodPressure">Current Blood Pressure</label>
        <input class="form-control" type="number" id="BloodPressure" name="BloodPressure" required="required" placeholder="Current Blood Pressure">
      </div>
      <div class="form-group">
        <label for="BMI">Enter the Body Mass Index</label>
        <input class="form-control" type="number" id="BMI" name="BMI" required="required" placeholder="Body Mass Index">
      </div>
      <div class="form-group">
        <label for="DiabetesPedigreeFunction">Diabetes Pedigree Function</label>
        <input class="form-control" type="number" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" required="required" placeholder="Diabetes Pedigree Function">
      </div>
      <div class="form-group">
        <label for="Age">Age</label>
        <input class="form-control" type="number" id="Age" name="Age" required="required" placeholder="Age">
      </div>
      
      
      
      <button type="submit" class="btn btn-danger">Predict</button>
    </form>
  </div>

    <div class="w3-row">

        <div class="w3-third w3-container w3-center">
            <h1>Chat</h1>
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x "></i>
                <a href="{% url 'home' %}"><i class=" fas fa-comments fa-stack-1x fa-inverse text-primary" ></i></a>
            </span>
            <h4 class="my-3">Chat</h4>
            
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="w3-third w3-container w3-center">
            <h1>Video</h1>
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x "></i>
                <i class="fas fa-video fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Video Call</h4>
            
            <p class="text-muted">click To have a video confrence with the Doctor.</p>
        </div>
        <div class="w3-third w3-container w3-center">
            <h1>Chat</h1>
            
                
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-video fa-stack-1x fa-inverse"></i>
                  </span> 
           
           
            <h4 class="my-3">Appointment</h4>
             
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>


    </div>
 
</div>

</body>
</html>
