{% extends "include/base.html" %}

{% load static %}

{% block  content %}
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'pocketdoc.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>KIDNEY DISEASE PREDICTION</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->

        <div class="w3-container w3-card-4" style="width:50%;margin:auto;">
            
            <form action="predict3">
                <div class="form-group">
                
                  <label for="bp">Blood Pressure</label>
                  <input class="form-control" type="number" id="bp" name="bp" required="required" placeholder="Blood Pressure">
                </div>
  
                <div class="form-group">
                  <label for="sg">Specific Gravity</label>
                  <input class="form-control" type="number" step="any" id="sg" name="sg" required="required" placeholder="Specific Gravity">
                </div>
  
                <div class="form-group">
                  <label for="al">Albumin</label>
                  <input class="form-control" type="number" id="al" name="al" required="required" placeholder="Albumin">
                </div>
  
                <div class="form-group">
                  <label for="su">Blood Sugar Level</label>
                  <input class="form-control" type="number" id="su" name="su" required="required" placeholder="Blood Sugar Level">
                </div>
  
                <div class="form-group">
                  <label for="rbc">Red Blood Cells Count</label>
                  <input class="form-control" type="number" id="rbc" name="rbc" required="required" placeholder="Red Blood Cells Count">
                </div>
  
                <div class="form-group">
                  <label for="pc">Pus Cell Count</label>
                  <input class="form-control" type="number" id="pc" name="pc" required="required" placeholder="Pus Cell Count">
                </div>
  
                <div class="form-group">
                  <label for="pcc">Pus Cell Clumps</label>
                  <input class="form-control" type="number" id="pcc" name="pcc" required="required" placeholder="Pus Cell Clumps">
                </div>           
                
                <button type="submit" class="btn btn-danger">Predict</button>
             
                </form>
              </div>
            </div>
       

      
        {% endblock %}