{% extends "include/base.html" %}

{% load static %}

{% block  content %}
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'pocketdoc.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>LIVER DISEASE PREDICTION</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->

        <div class="w3-container w3-card-4 w3-grey" style="width:50%;margin:auto;">
            
                <form  action="predict1">

                    <div class="form-group">

                        <label >Age</label>
                        <input class="form-control" type="number"  name="Age" required="required" placeholder="Age">
                      </div>


                    <div class="form-group">
                        <label>Sex</label>
                        <select name="Sex" class="w3-round w3-padding" style="width: 80%;" required>
                          <option value="1">Male</option>
                          <option value="0">Female</option>
                         
                        </select>
                      </div>

                      
                  <div class="form-group">

                    <label for="Total Bilirubin">Total Bilirubin</label>
                    <input class="form-control" type="number" id="Total Bilirubin" name="Total Bilirubin" required="required" placeholder="Enter the Total Bilirubin">
                  </div>
                  <div class="form-group">
                    <label for="Direct_Bilirubin">Direct Bilirubin</label>
                    <input class="form-control" type="number" step="any" id="Direct_Bilirubin" name="Direct_Bilirubin" required="required" placeholder="Enter the Direct_Bilirubin">
                  </div>
                  <div class="form-group">
                    <label for="Alkaline_Phosphotase">Alkaline Phosphotase</label>
                    <input class="form-control" type="number" id="Alkaline_Phosphotase" name="Alkaline_Phosphotase" required="required" placeholder="Enter the Alkaline Phosphotase">
                  </div>
                  <div class="form-group">
                    <label for="Alamine_Aminotransferase">Alamine Aminotransferase</label>
                    <input class="form-control" type="number" id="Alamine_Aminotransferase" name="Alamine_Aminotransferase" required="required" placeholder="Enter the Alamine Aminotransferase">
                  </div>
                  <div class="form-group">
                    <label for="Alamine_Aminotransferase">Aspartate_Aminotransferase</label>
                    <input class="form-control" type="number"  name="Aspartate_Aminotransferase" required="required" placeholder="Enter the Aspartate_Aminotransferase">
                  </div>
                  <div class="form-group">
                    <label for="Total_Protiens">Total Protiens</label>
                    <input class="form-control" type="number" id="Total_Protiens" name="Total_Protiens" required="required" placeholder="Enter the Total Protiens">
                  </div>
                  <div class="form-group">
                    <label for="Albumin">Albumin</label>
                    <input class="form-control" type="number" id="Albumin" name="Albumin" required="required" placeholder="Enter the Albumin">
                  </div>
                  <div class="form-group">
                    <label for="Albumin_and_Globulin_Ratio">Albumin and Globulin Ratio</label>
                    <input class="form-control" type="number" id="Albumin_and_Globulin_Ratio" name="Albumin_and_Globulin_Ratio" required="required" placeholder="Enter the Albumin and Globulin Ratio">
                  </div>           
                  <button type="submit" class="btn btn-danger">Predict</button>
                </form>
              </div>
            </div>
       

            {% endblock %}